# Compiler files
cache/
out/

# Ignores development broadcast logs
/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# Cursor rules and settings
.cursorrules
.cursor
# Private individual user cursor rules
.cursor/rules/_*.mdc

# All the homies hate .DS_Store
.DS_Store

snapshots/
